<footer>
    <div class="footer__left">
        <div class="footer__left--boxImg">
            <img src="../images/Store.svg" alt="">
        </div>
        <a href="#">TÌM CỬA HÀNG</a>
    </div>
    <div class="footer__right">
        <div class="footer__right--top">
            <ul class="footer__right--ul">
                <li>
                    <a class="footer__right--li-title" href="#">SẢN PHẨM</a>
                </li>
                <li><a href="#">Giày Nam</a></li>
                <li><a href="#">Giày Nữ</a></li>
                <li><a href="#">Thời Trang & Phụ Kiện</a></li>
                <li><a href="#">Giảm Giá</a></li>
            </ul>
            <ul class="footer__right--ul">
                <li>
                    <a class="footer__right--li-title" href="#">VỀ CÔNG TY</a>
                </li>
                <li><a href="#">Dứa tuyển dụng</a></li>
                <li><a href="#">Liên hệ tuyển dụng</a></li>
                <li><a href="#">Về Ananas</a></li>
            </ul>
            <ul class="footer__right--ul">
                <li>
                    <a class="footer__right--li-title" href="#">HỖ TRỢ</a>
                </li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Bảo mật thông tin</a></li>
                <li><a href="#">Chính sách chung</a></li>
                <li><a href="#">Tra cứu đơn hàng</a></li>
            </ul>
            <ul class="footer__right--ul">
                <li>
                    <a class="footer__right--li-title" href="#">LIÊN HỆ</a>
                </li>
                <li><a href="#">Email góp ý</a></li>
                <li><a href="#">Hotline</a></li>
                <li><a href="#">0352 431 4777</a></li>
            </ul>
        </div>
        <div class="footer__right--bottom">
            <ul class="footer__right--ul">
                <li>
                    <a class="footer__right--li-title" href="#">ANANAS SOCIAL</a>
                </li>
                <ul class="icon_link">
                    <li>
                        <a href="https://www.facebook.com/nqt.nguyenquocthanh/">
                            <img src="../images/icon_facebook.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/icon_instagram.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/icon_youtube.svg" alt="">
                        </a>
                    </li>
                </ul>
            </ul>
            <ul class="footer__right--ul">
                <li>
                    <a class="footer__right--li-title" href="#">
                        ĐĂNG KÝ CHỈ VỚI EMAIL
                    </a>
                </li>
                <li>
                    <form action="" class="form__email--footer">
                        <input class="input__email--footer" type="email" name="email" placeholder="Email">
                        <button class="btn__submit--footer" type="submit">
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </button>
                    </form>
                </li>
            </ul>
            <div class="boxImg__logo--footer">
                <img src="../images/Logo_Ananas_Footer.svg" alt="">
            </div>
        </div>
        <span class="copyright">Copyright © 2022 Ananas. All rights reserved.</span>
    </div>
</footer>
<section class="popup-cart">
    <div class="popup__cart--container popup__cart--container-active">
        <div class="popup__cart--top">
            <ion-icon class="close-popup" name="close-outline"></ion-icon>
            <span class="popup__cart--title">
                GIỎ HÀNG
            </span>
        </div>
        <div class="popup__cart--banner">
            <span class="popup__cart--banner--text">
                MIỄN PHÍ VẬN CHUYỂN CHO ĐƠN TỪ 1 TRIỆU!
            </span>
        </div>
        <div class="container__showProducts">
            <!-- <div class="container__showProducts--item">
                        <div class="box__image--item">
                            <img src="../images/410247771_873411087589565_8575308494446272203_n.jpg" alt="">
                        </div>
                        <span class="name__item--popup">
                            gau Truc
                        </span>
                        <input class="number__item--popup" value="1" type="number" name="" id="">
                        <span class="price__product--popup">
                            1209.000d
                        </span>
                        <ion-icon class="delete__product-popup" name="close-outline"></ion-icon>
                    </div> -->
        </div>
        <div class="cartPopup__bottom">
            <span class="noti_point">Bạn sẽ được cộng 100 điểm cho mỗi đơn hàng.</span>
            <div class="box__totalPopup-cart">
                <span class="total-popup-title">TỔNG TIỀN: </span>
                <span class="total-popup"></span>
            </div>
            <span class="payment-on-delivery">
                Giá chưa tính phí vận chuyển
                <ion-icon name="alert-circle-outline"></ion-icon>
            </span>
            <a href="/cart" class="button__checkOut">
                <ion-icon name="bag-check-outline"></ion-icon>
                Chi Tiết Giỏ Hàng
            </a>
            <span class="cartPopup__bottom--noti">
                Vận chuyển, thuế và giảm giá được thêm vào khi thanh toán.
            </span>
        </div>
        <ion-icon class="hidden__cartPopup--bottom" name="chevron-down-outline"></ion-icon>
    </div>
    <div class="popupCart-empty">
        <div class="boximg__cartEmpty">
            <img src="../images/cartEmpty.jpg" alt="">
        </div>
        <div class="cartEmpty__text">
            <span class="cartEmpty__text1">Ohhh... Giỏ hàng bạn trống</span>
            <span class="cartEmpty__text2">nhưng bạn có thể thêm vào.</span>
        </div>
        <button class="buyNow">
            Tiếp tục mua hàng
        </button>
    </div>
</section>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../js/slick-slider.js"></script>
<script src="../js/lazy-load.js"></script>
<script src="../js/menu.js"></script>
<script src="../js/base.js"></script>
<script> var exports = {}; </script>
<script type="module" src="/public/ts/addToCart.js"></script>
<script type="module" src="/public/ts/handleCartPopUp.js"></script>
<script type="module" src="/public/ts/handleCart.js"></script>
<script type="module" src="/public/ts/pageDetail.js"></script>
<script type="module" src="/public/ts/addToCartDetail.js"></script>
<script type="module" src="/public/ts/header-logOut.js"></script>
</body>

</html>