<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta http-equiv = "refresh" content = "3; url = ./" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;900&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css" />
</head>
<style>
    html, body {
    min-width: fit-content;
    min-height: fit-content;
    overflow: hidden;
} 

.bg-img{
    min-width: 100%;
    min-height: 100%;
    background: url(./images/banner_photo_blurred.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.login-wrapper{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#login{
    align-self: center;
}

.card-title{
    padding: 6px;
}

.card-body{
    opacity: 0.95 !important;
    border: 2px ;
    line-height: 2.5rem;
    font-size: larger;
    background-color: seashell;
}

#login .card-body{
    box-shadow: 3px 4px 4px;
    
}

.login-title{
    font-size: 80px;
    font: large;
    font-weight: medium;
    text-shadow: 1px 1px rgba(1, 1, 1, 0.76);
    font-family: 'NotoSansTC-Thin';
    text-align: center;
    width: 100vw !important;
    color: #ffffff;
}

.login-subtitle{
    font-size: 26px;
    font: medium;
    font-weight: medium;
    text-shadow: 1px 1px rgba(1, 1, 1, 0.76);
    font-family: 'NotoSansTC-Thin';
    font-style: italic;
    text-align: center;
    width: 100vw !important;
    color: #f0f0f0;
}

#login-button{
    text-align: center;
    font: #ffffff;
}

    #login-button>input:hover{
        border-color: #C30C0F;
        box-shadow: 1px 1.5px 2px #C30C0F;
        color: #C30C0F !important;
        background-color: #ffffff;
    }
</style>
<body>
    <div class="bg-img">
        <div class="login-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 login-title">opps... this is not a valid page.</div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<!-- Latest compiled and minified Popper: Use for pop up bubble -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

</body>

</html>